{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
 <div id="header_wrap" class="outer">
	<header class="inner" role="banner">
		{% include header.html %}
		<nav role="navigation">{% include navigation.html %}</nav>
	</header>
 </div>
  <div id="main">
    <div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
			{{ content | expand_urls: root_url }}
		</section>
    </div>
  </div>
  <div id="footer_wrap" class="outer">
	<footer class="inner" role="contentinfo">{% include footer.html %}</footer>
	{% include after_footer.html %}
  </div>
</body>
</html>
